:root {
    --gap: 5px;
    --border: 2px solid black;
    --font-size: 2rem;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-areas:
        "header header"
        "options main"
        "footer footer";
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 70% 10%;
    gap: var(--gap);
    margin: var(--gap);
    height: calc(100vh - 4*var(--gap));
    width: calc(100vw - 3*var(--gap));
    box-sizing: border-box;
}

.header {
    grid-area: header;
    background-color: lightblue;
    border: var(--border);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    grid-area: main;
    background-color: lightgreen;
    border: var(--border);
    box-sizing: border-box;
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-area: footer;
    background-color: lightcoral;
    border: var(--border);
    box-sizing: border-box;
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display: none;
}

.title {
    font-size: var(--font-size);
}

.nav{
    display: none;
}

.login{
    display: none;
}

.options{
    grid-area: options;
    background-color: lightgray;
    border: var(--border);
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.article1{
    display: none;
}

.article2{
    display: none;
}

.search{
    display: none;
}

.news{
    display: none;
}