
/*header {
    width: 100%;
    height: 20vh;
    border: 2px solid black;
    margin-bottom: 5px;
}

main {
    width: 80%;
    height: 60vh;
    border: 2px solid black;
    margin-left: 10%;
    margin-bottom: 5px;
    
}

footer {
    width: 100%;
    border: 2px solid black;
    height: 15vh;
}*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: 20% 70% 10%;
    gap: 5px;
    height: calc(100vh - 10px); /* Ajusta la altura total: al 100% de la pantalla le quito los gaps (5px cada uno)*/
    box-sizing: border-box; /* Incluye el padding y border en el tamaño total */
}

.header {
    grid-area: header;
    background-color: lightblue;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title {
    font-size: 2rem;
}

.main {
    grid-area: main;
    background-color: lightgreen;
    border: 2px solid black;
    box-sizing: border-box;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-area: footer;
    background-color: lightcoral;
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display: none;
}

.nav{
    display: none;
}

.login{
    display: none;
}

.options{
    display: none;
}

.article1{
    display: none;
}

.article2{
    display: none;
}

.search{
    display: none;
}

.news{
    display: none;
}